In [100]:
import pandas as pd
import process_csv as pcsv

In [125]:
cut_vid = pd.read_csv('/home/srao/Documents/animapp_desktop/sample_videos/cut_video_mod.mp4.csv', names = ['x', 'y', 'frame'], usecols = [0, 1, 2])

In [126]:
original_csv = cut_vid

In [127]:
filled_csv = pcsv.fill_frames(original_csv)

In [128]:
def fill_frames(dataframe):
    """
    Returns new dataframe without any missing frames.
    Fills the dataframe where frames are missing (e.g., when no object is detected in a frame). 
    "Filling" means adding a new row with the missing frame number with x and y coordinates exactly 
    the same as the preceding frame (so that the distance travelled is not affected)

    Keyword arguments:
    dataframe -- a pandas dataframe containing the labelled columns x, y, frame
    """

    filled_df = pd.DataFrame(columns = ['x', 'y', 'frame'])
    dataframe.index = pd.RangeIndex(len(dataframe.index))
    print(dataframe)
    for i in range(1, dataframe.shape[0]):
        if (dataframe.frame[i] - dataframe.frame[i - 1]) > 1:
            for missing_frame in range(dataframe.frame[i-1] + 1, dataframe.frame[i]):
                filled_df.loc[missing_frame] = [dataframe.x[i-1], dataframe.y[i-1], missing_frame]
    # dataframe.index = dataframe.frame
    # dataframe.index.name = None
    print(f"dataframe:{dataframe.columns}, filled:{filled_df.columns}")
    dataframe = pd.concat([dataframe, filled_df])
    dataframe = dataframe.sort_values(by = 'frame', axis = 0)
    dataframe.index = pd.RangeIndex(len(dataframe.index))
    return(dataframe)

In [129]:
fill_frames(original_csv)

      x    y  frame
0   279  379    289
1   284  354    290
2   277  366    291
3   283  346    296
4   281  343    297
..  ...  ...    ...
75  307  282    368
76  331  266    369
77  338  289    370
78  334  282    371
79  348  283    372

[80 rows x 3 columns]
dataframe:Index(['x', 'y', 'frame'], dtype='object'), filled:Index(['x', 'y', 'frame'], dtype='object')

       x    y frame
0    279  379   289
1    284  354   290
2    277  366   291
292  277  366   292
293  277  366   293
..   ...  ...   ...
75   307  282   368
76   331  266   369
77   338  289   370
78   334  282   371
79   348  283   372

[84 rows x 3 columns]